<%-# this partial is not currently in use, but is retained because we may use it in refactoring. We did not use it because the two forms we currently use work on different methods -%>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

<%= form_for @post, url: city_post_path do |f|%>
<%= f.label :title %>
<%= f.text_field :title, class: "form-control"%>

<%= f.label :synopsis %>
<%= f.text_area :synopsis, class: "form-control", style: "height: 300px;" %>

  <%= f.submit  class: "button" %>
<% end %>
</div>
</div>
