<h2 class='center'>Edit this Post</h2>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

<%= form_for @post, url: city_post_path do |f|%>
<%= f.label :title %>
<%= f.text_field :title, class: "form-control"%>

<%= f.label :synopsis %>
<%= f.text_area :synopsis, class: "form-control", style: "height: 300px;" %>

  <%= f.submit  class: "button" %>
<% end %>
</div>
</div>
