<div class="text-center">
<h1><%= @post.title%></h1>
<p><%= @post.synopsis%></p>

<% if can? :update, @post %>
  <td><%= button_to "Edit Post", edit_city_post_path(@city.id, @post.id), method: :get, class: "button"%></td>
<% end %>
      
<% if can? :destroy, @post %>
  <td><%= button_to "Delete Post", city_post_path(@city.id, @post.id), method: :delete, class: "delete", data: {confirm: "Are you sure?"}%></td>
<% end %>

<% if @post.comments.count > 1 %>
<h2><%= @post.comments.count %> Comments On This Post</h2>
<% else %>
<h2><%= @post.comments.count %> Comment On This Post</h2>
<% end %>
</div>

    <% @post.comments.order('created_at desc').each do |comment| %>
    <div class='post-font card'>
      <div class='card-body'>
        <p><%= comment.body %></p>
        <p>Posted By: <%= current_user.email%></p>  
        <p><%= time_ago_in_words(comment.created_at)%></p>  
      </div>
    </div>
  <%end%>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= form_for @comment, url: city_post_path, method: :post do |f|%>

      <h4><%= f.label :add_A_Comment %></h4>
        <%= f.text_area :body, class: "form-control", style: "height: 300px;" %>
      
      <%= f.submit  class: "button" %>
    <% end %>
  </div>
</div>