<h1><%= @city.name%></h1>
<div>
    <%= image_tag @city.picture%>
</div>
<%= button_to "New Post", new_city_post_path(@city), method: :get%>

<ul>
    <% @city.posts.each do |post| %>
    <li> <%= link_to post.title, city_post_path(@city.id, post.id)  %> <%= post.synopsis %></li>

    <%end%>
    
</ul>
