<div class="titleButtonContainer">
    <h1 class='center'><%= @city.name%></h1>
    <%= button_to "New Post", new_city_post_path(@city), method: :get, class: "button"%>
</div>
<div class="cityImage">
    <%= image_tag @city.picture, class: 'city-img-size'%>
</div>

<div class='success-alert text-center'><%= flash[:alert]%></div>

<ul class='text-center'>
    <% @city.posts.order('created_at desc').each do |post| %>
    <li> <%= link_to post.title, city_post_path(@city.id, post.id)  %> <%= truncate post.synopsis, length:1000 %> <%= link_to  "continue", city_post_path(@city.id, post.id) %> (<%= time_ago_in_words(post.created_at)%>) </li>

    <%end%>

</ul>
