<h1><%= @city.name%></h1>
<div>
    <%= image_tag @city.picture%>
</div>
<%= button_to "New Post", new_city_post_path(@city), method: :get%>

<ul>
    <% @city.posts.order('created_at desc').each do |post| %>
    <li> <%= link_to post.title, city_post_path(@city.id, post.id)  %> <%= truncate post.synopsis, length:1000 %> <%= link_to  "continue", city_post_path(@city.id, post.id)  %></li>

    <%end%>

</ul>
